# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
**/.terraform/*
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Python
__pycache__/
*.pyc
.pytest_cache/
.coverage

# Docker
*.env
.terraform/
